@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Mono';
    font-size: 18px;
}

.hero{
    position: fixed; 
    width: 100%;
    height: 100%; 
    background-image:url(assets/panel.jpg);
    color:white;
    background-size: 100%;
    background-position: center center;
    background-position-y: -250px;
    background-repeat: no-repeat;
    background-attachment: fixed
}
  .hero_container {
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    perspective: 15000px;
    perspective-origin: top;
  }

  .hero_container .hero_info{
    border-radius: 2em;
    padding: 1.5em;
    
    transform: rotateX(50deg) rotateY(17.5deg) rotate(2.5deg);
    font-size: 3rem;
    color: black;
  }

  .hero_container .hero_info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .hero_container .hero_info h2{
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .hero_container .hero_info p {
    font-size: 1.2rem;
    max-width: 60%;
  }
  .hero_container .hero_info .a{
    text-decoration: none;
    display: inline-block;
    background-color: #80aaff;
    border-radius: 0.8em;
    padding: 0.5em 2em;
    margin-top: 2rem;
    color: white
  }


  .loginSection {
    display: flex;
    min-height: 70vh; 
    justify-content: center;
    align-items: center;
    padding: 0 1rem; 
    background: rgba(225, 225, 225, 0.963);
    display: flex !important;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
  }

  .loginSection .loginSection_div {
    text-align: start;
    max-width: 24rem; 
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .loginSection .loginSection_div_ {
    max-width: 24rem; 
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
  }
  .loginSection .loginSection_div_ label {
    text-align: start;
    display: block;
  }

  .loginSection .loginSectionInput {
    width: 100%;
    border-radius: 0.375rem; 
    border: none;
    padding: 0.375rem 0.75rem; 
    color: #1a202c;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.15s ease;
    margin-top: 0.5rem;
  }

  .loginSectionButton {
    width: 100%;
    justify-content: center;
    border-radius: 0.375rem; /* 6px */
    padding: 0.375rem 0.75rem; /* 6px 12px */
    font-size: 0.875rem; /* 14px */
    font-weight: 600;
    transition: all 0.2s ease-in-out;
  }
  .loginSectionBackground{
    width: 100%;
    height: 100%; 
    background-image:url(assets/panel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
    display: flex;
    align-items: center;
  }