@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Mono';
    font-size: 18px;
}

.hero{
    position: fixed; 
    width: 100%;
    height: 100%; 
    background-image:url(assets/panel.jpg);
    color:white;
    background-size: 100%;
    background-position: center center;
    background-position-y: -250px;
    background-repeat: no-repeat;
    background-attachment: fixed
}
  .hero_container {
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    perspective: 15000px;
    perspective-origin: top;
  }

  .hero_container .hero_info{
    border-radius: 2em;
    padding: 1.5em;
    
    transform: rotateX(50deg) rotateY(17.5deg) rotate(2.5deg);
    font-size: 3rem;
    color: black;
  }

  .hero_container .hero_info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .hero_container .hero_info h2{
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .hero_container .hero_info p {
    font-size: 1.2rem;
    max-width: 60%;
  }
  .hero_container .hero_info .a{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 0.8em;
    padding: 0.5em 2em;
    margin-top: 2rem;
    color: #80aaff
  }